/* This file is for your main application css. */
.event, .message {
  font-family: monospace;
}

.messageBlock {
  background-color: #EAEAEA;
  font-size: 9pt;
  margin: 3px;
}

.timestamp, .key, .app_id, .name, .message { padding: 3px; }

.timestamp { color: #00447B; }
.key { color: #808080; }
.key .topic { color: #F27760; }
.key .partition { color: #4D4D4D; }
.key .offset { color: #008CC9; }
.app_id { color: #00B7AF; }
.name { color: #52A304; }
.message {
  display: inline;
  color: #333333;
  overflow-wrap: break-word;
}

h1 { padding: 0; margin: 0; }
html, body {
  height: 100%;
}
header {
  height: 50px;
  background-color: #F3F3F3;
}
.page-container, .page-content {
  height: calc(100% - 50px);
  width: 100%;
}
.page-left {
  height: 100%;
  float: left;
  background-color: #F3F3F3;
  padding: 5px;
}
.page-content {
  position: absolute;
  left: 240px;
  width: calc(100% - 240px);
  overflow-x: auto;
  overflow-y: scroll;
}
