<html>
    <head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" rel="stylesheet">
    </head>
    <body>
	<div id="app" class="container is-fullhd">
	    <transition-group name="messages" v-on:enter="enter" v-on:before-enter="beforeEnter" tag="div">
		<pre v-for="message in messages" :key="message.updatedAt"><code>{{message}}</code></pre>
	    </transition-group>
	</div>
    </body>
    <script>
     var app = new Vue({
	 el: '#app',
	 data: {
	     messages: [],
	     source: null
	 },
	 computed: {
	     headers: function() {
		 if (this.messages.length === 0) return [];

		 return Object.keys(this.messages[0]);
	     }
	 },
	 created: function() {
	     this.source = new EventSource('/stream');
	     this.source.onmessage = (event) => {
		 this.messages.unshift(JSON.parse(event.data));
	     };
	 },
	 methods: {
	     beforeEnter: function(el) {
		 el.style.opacity = 0;
		 el.style.backgroundColor = '#00d1b2'
	     },
	     enter: function(el, done) {
		 let backgroundColor = '#fff';
		 let color = '#da1039'
		 if (this.messages.length % 2 === 0) {
		     backgroundColor = '#3273dc';
		     color = '#fff';
		 }
		 setTimeout(function () {
		     Velocity(
			 el,
			 { opacity: 1, backgroundColor: backgroundColor, color: color },
			 { complete: done }
		     );
		 }, 0.5)
	     }
	 }
     });
    </script>
</html>
